SiGeP/.vs/
SiGeP/SiGeP/obj/
SiGeP/SiGeP/bin/
SiGeP/SiGeP.API/obj/
SiGeP/SiGeP.Business/obj/
SiGeP/SiGeP.DataAccess/obj/
SiGeP/SiGeP.Model/obj/
SiGeP/SiGeP.API/bin/
SiGeP/SiGeP.Business/bin/Debug/net8.0/SiGeP.Business.deps.json
SiGeP/SiGeP.Business/bin/Debug/net8.0/SiGeP.Business.dll
SiGeP/SiGeP.Business/bin/
SiGeP/SiGeP.DataAccess/bin/
SiGeP/SiGeP.Model/bin/
SiGeP/SiGeP.UI/obj/
SiGeP/SiGeP.UI/bin/
SiGeP/SiGeP.API/appsettings.json
SiGeP/SiGeP.API/appsettings.Development.json
SiGeP/TestProject/bin/
SiGeP/TestProject/obj/
