@page "/ABMComponent"
@using SiGeP.Model.DTO
@using SiGeP.UI.Services
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons


@inject ProvinceService ProvinceService
@inject NavigationManager NavManager


<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="form-group row text-sm-left text-md-right">
                <label class="col-form-label col-sm-3 my-auto">Nombre:</label>
                <div class="col-sm-9 my-auto mr ">
                    <SfTextBox ID="NametextBox"> </SfTextBox>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row text-sm-left text-md-right">
                <label class="col-form-label col-sm-3 my-auto">Apellido: </label>
                <div class="col-sm-9 my-auto mr ">
                    <SfTextBox ID="SurnametextBox"> </SfTextBox>
                </div>
            </div>
        </div>     
    </div>
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="form-group row text-sm-left text-md-right">
                <label class="col-form-label col-sm-3 my-auto">DNI:</label>
                <div class="col-sm-9 my-auto mr ">
                    <SfTextBox ID="DnitextBox"> </SfTextBox>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row text-sm-left text-md-right">
                <label class="col-form-label col-sm-3 my-auto">Provincia: </label>
                <div class="col-sm-9 my-auto mr ">
                    <SfDropDownList CssClass="custom-select e-multi-column"
                                    TValue="string"
                                    TItem="ProvinceDTO"
                                    Placeholder="Seleccione una provincia"
                                    DataSource="@provinceList"
                                    TabIndex="4"
                                    Enabled="enabled">
                        <DropDownListFieldSettings Text="Name"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>
        </div>


    </div>
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="form-group row text-sm-left text-md-right">
                <label class="col-form-label col-sm-3 my-auto">Telefono:</label>
                <div class="col-sm-9 my-auto mr ">
                    <SfTextBox Placeholder="Nro de telefono"> </SfTextBox>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row text-sm-left text-md-right">
                <label class="col-form-label col-sm-3 my-auto">Mail: </label>
                <div class="col-sm-9 my-auto mr ">
                    <SfTextBox ID="mail"> </SfTextBox>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-10  ">
        <div class="row align-content-end">
            <div class="col">
                <SfButton CssClass="e-success"> Guardar </SfButton>
            </div>

        </div>
    </div>

</div>

@code {
    #region Vars

    public bool enabled { get; set; } = true;

    List<ProvinceDTO> provinceList = new List<ProvinceDTO>();

    ProvinceDTO selectedprovince = new ProvinceDTO();

    #endregion

    protected override async void OnInitialized()
    {
        try
        {
            provinceList = await ProvinceService.GetProvincesAsync();
        }
        catch (Exception ex)
        {
            NavManager.NavigateTo($"/ErrorPage/{ex.Message.Replace("/", "-")}");
            return;
        }
        finally
        {
            StateHasChanged();
        }
    }
}
