@page "/ABMComponent"
@using Syncfusion.Blazor.Inputs

<div class="container">
    <div class="col">
        <div class="row">
            <SfTextBox Placeholder='First Name'></SfTextBox>
        </div>

    </div>


</div>

@code {

}
