@page "/ProvinceComponent"
@using SiGeP.Model.DTO
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids



<div class="container-sm">
    <SfDropDownList TValue="string" TItem="ProvinceDTO"  DataSource="@Provinces">
        <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
    </SfDropDownList>
</div>


@code {

    private SfGrid<ProvinceDTO> Grid { get; set; }

    List<ProvinceDTO> Provinces = new List<ProvinceDTO>();
}


