@page "/"
@attribute [Authorize]

<div class="row text-center mx-auto" style="min-height:80vh;">
    <img runat="server" src="Images/logo.png" class="img-fluid align-self-center mx-auto" href="~/" style="max-width: 30rem">
</div>